### Aggregate Functions

**Definition:**  
Aggregate functions in SQL perform calculations on a set of values and return a single value. They are used to summarize data in various ways, such as finding the average, sum, minimum, maximum, or count of values in a column.

**Syntax:**  
```sql
SELECT aggregate_function(column_name)
FROM table_name
WHERE condition;
```

**Example:**  
Let's use the student database to demonstrate aggregate functions.

**Assuming the following data exists in the `Grades` table:**  
| GradeID | EnrollmentID | Grade |
|----------|--------------|-------|
| 1        | 1            | 85    |
| 2        | 2            | 92    |
| 3        | 3            | 75    |
| 4        | 4            | 88    |
| 5        | 1            | 90    |

**Example to find the average grade:**  
```sql
SELECT AVG(Grade) AS AverageGrade
FROM Grades;
```
**Output:**  
| AverageGrade |
|---------------|
| 86.0          |

**Example to find the maximum grade:**  
```sql
SELECT MAX(Grade) AS MaxGrade
FROM Grades;
```
**Output:**  
| MaxGrade |
|-----------|
| 92        |

**Example to find the count of grades:**  
```sql
SELECT COUNT(Grade) AS GradeCount
FROM Grades;
```
**Output:**  
| GradeCount |
|-------------|
| 5           |

These examples illustrate how aggregate functions like `AVG`, `MAX`, and `COUNT` can be used to summarize data within a table.

Let me know if you'd like to proceed to the next SQL topic!